<%- include('../views/Layout/header') %>

    <body>
        <h1>Admin</h1>
        <h3>users data</h3>
        <table class="table table-bordered">

            <tr>
                <th>name</th>
                <th>email</th>
            </tr>
            <%userData.forEach((data)=> { %>
                <tr>
                    <td>
                        <%= data.name %>
                    </td>
                    <td>
                        <%= data.email %>
                    </td>
                </tr>

                <% })%>
        </table>


        <h2>admin inventory: </h2>
        <table class="table table-bordered">
            <tr>
                <th>productName</th>
                <th>quantity</th>
            </tr>
            <% adminInventoryData.forEach((data)=> { %>
                <tr>
                    <td>
                        <%= data.productName %>
                    </td>
                    <td>
                        <%= data.quantity %>
                    </td>

                </tr>
                <% })%>
        </table>
        <table class="table table-bordered" style="width: 300px;">
            <td>
                <form action="/add_product" method="POST">
                    <label for="productName">productName:</label>
                    <input type="text" id="productName" name="productName" required>
                    <label for="quantity">quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                    <button type="submit">add</button>
                </form>
            </td>
            <td>
                <form action="/delete_product" method="POST">
                    <label for="productName">productName:</label>
                    <input type="text" id="productName" name="productName" required>
                    <label for="quantity">quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                    <button type="submit">delete</button>
                </form>
            </td>
            <td>
            <form action="/move_product" method="POST">
                <label for="productName">productName:</label>
                <input type="text" id="productName" name="productName" required>
                <label for="quantity">quantity:</label>
                <input type="number" id="quantity" name="quantity" required>
                <label for="name">receiverName</label>
                <input type="text" id="receiverName" name="receiverName" required>
                <button type="submit">move</button>
            </form>
        </td>
        <td>
            <form action="/take_product" method="POST">
                <label for="productName">productName:</label>
                <input type="text" id="productName" name="productName" required>
                <label for="quantity">quantity:</label>
                <input type="number" id="quantity" name="quantity" required>
                <label for="name">name</label>
                <input type="text" id="name" name="name" required>
                <button type="submit">take</button>
            </form>
        </td>
        </table>
        <table class="table table-bordered">
            <tr>
                <th>name</th>
                <th>productName</th>
                <th>quantity</th>
                <th>description</th>
                <th>request</th>
            </tr>
            <% userReqData.forEach(data => { %>
            <tr> 
                <td>
                    <%= data.name %>
                </td>
                <td>
                    <%= data.productName %>
                </td>
                <td>
                    <%= data.quantity %>
                </td>
                <td>
                    <%= data.description %>
                </td>
                <td>
                    <%= data.request %>
                </td>
                <td>
                    <form action="/accept_request" method="POST">
                        <button type="submit">accept</button>
                    </form>
                </td>
                <td>
                    <form action="/reject_request" method="POST">
                        <button type="submit">decline</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        
         
        
    </body>
    <%- include('../views/Layout/footer') %>